.nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.enlacesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.liContainer {
    margin-right: 10px;
    list-style: none;
    text-decoration: none;
}

.enlace {
    color: black
    
}

.active {
    color: green;
}